# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Nico\1. Bluejack\3. TPA\3. Web\Staem\backend\src\github.com\nicotanzil\backend-gqlgen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
